<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>webpack-simple-admain</title>
      <!-- <script src="./src/assets/js/jquery.js"></script><!--jQuery 3.3.1--> -->
      <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
      <link rel="stylesheet" type="text/css" href="//helper.test/desktop/css/simditor.css" />
      <script type="text/javascript" src="//helper.test/desktop/js/module.js"></script>
      <script type="text/javascript" src="//helper.test/desktop/js/simditor.js"></script>
      <script type="text/javascript" src="//helper.test/desktop/js/hotkey.js"></script>
      <script type="text/javascript" src="//helper.test/desktop/js/uploader"></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="//helper.test/desktop/js/main.js"></script>
  </body>
</html>
